html {
    font-size: 16px;
}

.tableContainer {
    max-width: 50rem;
    margin: 0 auto;
}

h1 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
}

thead th {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
    color: #fff;
    padding: 0.625rem;
    text-align: left;
}

tbody tr {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
    color: white;
}

tbody td {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
    color: white;
    padding: 0.625rem;
    text-align: left;
}
